extends layout

block content
    .jumbotron.jumbotron-fluid.bg-light.py-5 
      .container.text-center    
        h1= title              
        p.lead Welcome to Members Only!
        a.btn.btn-primary(href="/login") Log In
        p.mt-3                
        a.btn.btn-secondary(href="/signup") Sign Up
