extends layout

block content
  .jumbotron.jumbotron-fluid.bg-light.py-5
    .container
      h1.text-center= title

      form.col-md-6.mx-auto(action="/login", method="post")
        div.form-group.mb-3
          label.form-label(for="email") Email: 
          input#email.form-control(type="email", name="email", required)

        div.form-group.mb-3
          label.form-label(for="password") Password: 
          input#password.form-control(type="password", name="password", required)

        .text-center
          button.btn.btn-primary(type="submit") Log In
        p
        .text-center
          small Not a member? 
          p
            a.btn.btn-outline-primary(href="/signup") Sign Up
